.container {
    max-width: 900px;
    text-align: center; 
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 25px; 
    text-align: center; 
    padding: 20px 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

